In [2]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=4f90233fe38c45d0ed13fc8697cca260b37cc942538a78c28bc7c694f623e76b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [30]:
import requests
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType
from datetime import datetime
from geopy.geocoders import Nominatim
from pyspark.sql.functions import lit

# Lista de lugares con sus coordenadas
lugares = [
    {"nombre": "Amazonas/Peru", "lat": -4.999999999682269, "lon": -78},
    {"nombre": "Ancash/Peru", "lat": -9.499999999871093, "lon": -77.75},
    # Agrega más lugares si es necesario
]

# Crear una sesión Spark en Colab
spark = SparkSession.builder.master("local[*]").appName("WeatherAnalysis").getOrCreate()

# Definir el esquema para el DataFrame de Spark
schema = StructType([
    # Define tus estructuras aquí según tus necesidades
])

# Crear una lista para almacenar los DataFrames individuales
dataframes = []

# Iterar sobre la lista de lugares
for lugar in lugares:
    # Obtener los datos de la API
    url = f"https://api.openweathermap.org/data/3.0/onecall?lat={lugar['lat']}&lon={lugar['lon']}&exclude=hourly,minutely&appid=107298a9f77f36886d2b680a82c145cf"
    response = requests.get(url)
    data = response.json()

    # Extraer la información diaria de la respuesta
    daily_data = data.get("daily", [])

    # Convertir datos a un DataFrame de pandas
    df = pd.json_normalize(daily_data)

    # Convertir la columna "dt" a formato datetime
    df["dt"] = pd.to_datetime(df["dt"], unit="s")

    # Convertir el DataFrame de pandas en un DataFrame de Spark
    spark_df = spark.createDataFrame(df)

    # Obtener la información de la ubicación (región y país)
    geolocator = Nominatim(user_agent="weather_analysis")
    location = geolocator.reverse((lugar["lat"], lugar["lon"]), language="en")

    # Extraer información de ubicación
    region = location.raw['address']['state']
    country = location.raw['address']['country']

    # Agregar las columnas de ubicación al DataFrame de Spark
    spark_df = spark_df.withColumn("region", lit(region))
    spark_df = spark_df.withColumn("country", lit(country))

    # Agregar una columna con el nombre del lugar
    spark_df = spark_df.withColumn("nombre_lugar", lit(lugar["nombre"]))

    # Agregar el DataFrame actual a la lista
    dataframes.append(spark_df)

# Unir todos los DataFrames en uno solo
consolidated_df = dataframes[0]
for df in dataframes[1:]:
    consolidated_df = consolidated_df.union(df)

# Mostrar el esquema y los primeros registros del DataFrame consolidado
print("Información consolidada:")
consolidated_df.printSchema()
consolidated_df.show()

Información consolidada:
root
 |-- dt: timestamp (nullable = true)
 |-- sunrise: long (nullable = true)
 |-- sunset: long (nullable = true)
 |-- moonrise: long (nullable = true)
 |-- moonset: long (nullable = true)
 |-- moon_phase: double (nullable = true)
 |-- summary: string (nullable = true)
 |-- pressure: long (nullable = true)
 |-- humidity: long (nullable = true)
 |-- dew_point: double (nullable = true)
 |-- wind_speed: double (nullable = true)
 |-- wind_deg: long (nullable = true)
 |-- wind_gust: double (nullable = true)
 |-- weather: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: long (valueContainsNull = true)
 |-- clouds: long (nullable = true)
 |-- pop: double (nullable = true)
 |-- rain: double (nullable = true)
 |-- uvi: double (nullable = true)
 |-- temp.day: double (nullable = true)
 |-- temp.min: double (nullable = true)
 |-- temp.max: double (nullable = true)
 |-- temp.night: double (nullable = true)
 |-- temp.eve: double (nullable = true)
 |-- temp.morn: double (nullable = true)
 |-- feels_like.day: double (nullable = true)
 |-- feels_like.night: double (nullable = true)
 |-- feels_like.eve: double (nullable = true)
 |-- feels_like.morn: double (nullable = true)
 |-- region: string (nullable = false)
 |-- country: string (nullable = false)
 |-- nombre_lugar: string (nullable = false)

+-------------------+----------+----------+----------+----------+----------+--------------------+--------+--------+---------+----------+--------+---------+--------------------+------+----+-----+-----+--------+--------+--------+----------+--------+---------+--------------+----------------+--------------+---------------+--------+-------+-------------+
|                 dt|   sunrise|    sunset|  moonrise|   moonset|moon_phase|             summary|pressure|humidity|dew_point|wind_speed|wind_deg|wind_gust|             weather|clouds| pop| rain|  uvi|temp.day|temp.min|temp.max|temp.night|temp.eve|temp.morn|feels_like.day|feels_like.night|feels_like.eve|feels_like.morn|  region|country| nombre_lugar|
+-------------------+----------+----------+----------+----------+----------+--------------------+--------+--------+---------+----------+--------+---------+--------------------+------+----+-----+-----+--------+--------+--------+----------+--------+---------+--------------+----------------+--------------+---------------+--------+-------+-------------+
|2023-11-25 16:00:00|1700909278|1700953817|1700948820|1700903280|      0.44|Expect a day of p...|    1013|      61|   293.59|      1.97|      76|     2.81|[{icon -> NULL, d...|    97|0.96| 6.21| 9.23|  303.06|  294.72|  306.31|    294.72|  302.39|   294.92|        306.01|          295.52|        305.46|         295.71|Amazonas|   Peru|Amazonas/Peru|
|2023-11-26 16:00:00|1700995692|1701040240|1701038580|1700992680|      0.48|Expect a day of p...|    1014|      99|   294.04|       1.4|     186|      3.4|[{icon -> NULL, d...|   100| 1.0|93.66|10.62|   295.3|  294.56|  296.93|    294.56|   296.6|   295.02|        296.16|          295.37|        297.51|         295.87|Amazonas|   Peru|Amazonas/Peru|
|2023-11-27 16:00:00|1701082106|1701126664|1701128340|1701082260|       0.5|Expect a day of p...|    1015|      95|   295.38|      1.27|     176|     2.21|[{icon -> NULL, d...|    97|0.96|10.77|10.57|  297.46|  294.21|  302.23|    294.94|  302.23|   294.25|        298.43|          295.58|        305.15|          295.0|Amazonas|   Peru|Amazonas/Peru|
|2023-11-28 17:00:00|1701168522|1701213089|1701218280|1701171960|      0.55|You can expect pa...|    1010|      60|   294.07|      2.29|      73|      2.7|[{icon -> NULL, d...|    67| 1.0|15.32|12.02|  303.99|  294.06|  303.99|    295.22|  295.84|   296.18|        307.66|          296.09|        296.72|         296.73|Amazonas|   Peru|Amazonas/Peru|
|2023-11-29 17:00:00|1701254938|1701299514|1701307980|1701261720|      0.58|Expect a day of p...|    1011|      89|   295.42|      1.11|     176|     1.31|[{icon -> NULL, d...|   100|0.84| 4.69| 0.06|  298.47|  294.74|  302.98|    295.09|  296.76|   295.55|        299.38|          295.72|         297.4|         296.43|Amazonas|   Peru|Amazonas/Peru|
|2023-11-30 17:00:00|1701341355|1701385940|1701397620|1701351480|      0.61|Expect a day of p...|    1008|      55|   293.17|      1.91|      73|      2.7|[{icon -> NULL, d...|    48| 1.0|12.27|  1.0|  304.61|  293.42|  304.61|    294.93|  295.73|    295.0|         307.7|          295.75|         296.6|          295.7|Amazonas|   Peru|Amazonas/Peru|
|2023-12-01 17:00:00|1701427773|1701472366|1701486960|1701441120|      0.64|You can expect ra...|    1013|      97|   295.02|      0.87|     188|     0.82|[{icon -> NULL, d...|    99| 1.0|15.38|  1.0|  296.67|   294.6|  297.51|     294.6|  295.02|   295.02|        297.61|          295.36|        295.85|         295.85|Amazonas|   Peru|Amazonas/Peru|
|2023-12-02 17:00:00|1701514191|1701558792|1701576060|1701530460|      0.67|Expect a day of p...|    1008|      42|   291.24|       2.1|      36|     3.11|[{icon -> NULL, d...|    66| 0.8| 0.83|  1.0|  306.86|  294.36|  306.86|    296.88|  299.23|    295.3|        308.59|           297.5|        299.23|         296.08|Amazonas|   Peru|Amazonas/Peru|
|2023-11-25 16:00:00|1700908799|1700954175|1700949120|1700902920|      0.44|Expect a day of p...|    1016|      63|   279.73|      4.52|     248|     2.81|[{icon -> NULL, d...|    78|0.64| 6.83| 13.9|   287.5|  281.99|   287.5|     283.4|  283.26|   282.11|        286.64|          282.57|        282.68|         280.85|  Ancash|   Peru|  Ancash/Peru|
|2023-11-26 16:00:00|1700995209|1701040603|1701039000|1700992200|      0.48|Expect a day of p...|    1017|      79|   280.47|      3.67|     252|      2.4|[{icon -> NULL, d...|   100|0.72|12.96| 9.54|  284.91|  282.54|  285.39|     283.1|  282.54|   282.78|         284.2|           283.1|        281.82|         282.78|  Ancash|   Peru|  Ancash/Peru|
|2023-11-27 16:00:00|1701081619|1701127031|1701128880|1701081660|       0.5|Expect a day of p...|    1017|      69|   279.87|      3.94|     249|      2.7|[{icon -> NULL, d...|    94|0.76|23.42| 7.58|  286.32|  281.76|  286.32|    282.73|  282.82|   282.19|        285.49|          282.73|        281.28|         281.57|  Ancash|   Peru|  Ancash/Peru|
|2023-11-28 16:00:00|1701168031|1701213460|1701218820|1701171300|      0.55|Expect a day of p...|    1018|      69|   280.29|      4.33|     248|     2.81|[{icon -> NULL, d...|    51|0.68|11.77|14.13|   286.6|  282.15|   286.6|    282.88|  283.63|   282.59|         285.8|          281.76|        283.19|         282.59|  Ancash|   Peru|  Ancash/Peru|
|2023-11-29 16:00:00|1701254443|1701299889|1701308580|1701261060|      0.58|Expect a day of p...|    1015|      61|    278.9|      4.22|     252|     2.52|[{icon -> NULL, d...|    97|0.64| 4.13| 0.59|  287.09|  281.97|  287.09|     283.4|  284.07|   281.97|        286.13|          282.62|        283.54|         281.97|  Ancash|   Peru|  Ancash/Peru|
|2023-11-30 16:00:00|1701340857|1701386318|1701398160|1701350820|      0.61|There will be par...|    1016|      68|   279.79|      3.87|     244|      2.4|[{icon -> NULL, d...|    77|0.68| 8.52|  1.0|  286.42|  282.25|  286.42|    282.37|  283.07|   282.25|        285.58|          281.91|        281.35|         282.25|  Ancash|   Peru|  Ancash/Peru|
|2023-12-01 17:00:00|1701427271|1701472748|1701487380|1701440520|      0.64|There will be rai...|    1017|      92|   281.68|      4.04|     240|     3.03|[{icon -> NULL, d...|   100|0.72|17.07|  1.0|  283.82|  281.88|  284.59|    282.74|  282.21|   282.32|        283.34|          282.74|        282.21|         282.32|  Ancash|   Peru|  Ancash/Peru|
|2023-12-02 17:00:00|1701513686|1701559178|1701576420|1701529980|      0.67|Expect a day of p...|    1017|      87|   280.93|      3.99|     250|     2.81|[{icon -> NULL, d...|    76|0.68| 4.13|  1.0|  283.91|  281.94|  286.03|    282.01|  282.24|   283.22|        283.31|          282.01|        282.24|         282.16|  Ancash|   Peru|  Ancash/Peru|
+-------------------+----------+----------+----------+----------+----------+--------------------+--------+--------+---------+----------+--------+---------+--------------------+------+----+-----+-----+--------+--------+--------+----------+--------+---------+--------------+----------------+--------------+---------------+--------+-------+-------------+

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, TimestampType
from pyspark.sql.functions import monotonically_increasing_id, col, from_unixtime

# Crear una sesión Spark en Colab
spark = SparkSession.builder.master("local[*]").appName("WeatherAnalysis").getOrCreate()

# Definir el esquema para la DimTiempo
schema_dim_tiempo = StructType([
    StructField("idTiempo", StringType(), False),  # Clave primaria
    StructField("dt", TimestampType(), True),
    StructField("sunrise", TimestampType(), True),
    StructField("sunset", TimestampType(), True),
    StructField("nombre_lugar", StringType(), False)  # Nueva columna para el nombre del lugar
])

# Convertir la columna sunrise de Unix a formato de fecha
consolidated_df = consolidated_df.withColumn("sunrise", from_unixtime("sunrise"))

# Convertir la columna sunset de Unix a formato de fecha
consolidated_df = consolidated_df.withColumn("sunset", from_unixtime("sunset"))

# Crear DataFrame para la DimTiempo y ordenar por la columna dt
data_dim_tiempo = consolidated_df.select("dt", "sunrise", "sunset", "nombre_lugar").distinct().orderBy("dt")
data_dim_tiempo = data_dim_tiempo.withColumn("idTiempo", monotonically_increasing_id())
df_dim_tiempo = data_dim_tiempo.select("idTiempo", "dt", "sunrise", "sunset", "nombre_lugar")

# Mostrar el esquema y los primeros registros del DataFrame DimTiempo
print("DimTiempo después de la conversión:")
df_dim_tiempo.printSchema()
df_dim_tiempo.show()

DimTiempo después de la conversión:
root
 |-- idTiempo: long (nullable = false)
 |-- dt: timestamp (nullable = true)
 |-- sunrise: string (nullable = true)
 |-- sunset: string (nullable = true)
 |-- nombre_lugar: string (nullable = false)

+--------+-------------------+-------------------+-------------------+-------------+
|idTiempo|                 dt|            sunrise|             sunset| nombre_lugar|
+--------+-------------------+-------------------+-------------------+-------------+
|       0|2023-11-25 16:00:00|2023-11-25 10:47:58|2023-11-25 23:10:17|Amazonas/Peru|
|       1|2023-11-25 16:00:00|2023-11-25 10:39:59|2023-11-25 23:16:15|  Ancash/Peru|
|       2|2023-11-26 16:00:00|2023-11-26 10:48:12|2023-11-26 23:10:40|Amazonas/Peru|
|       3|2023-11-26 16:00:00|2023-11-26 10:40:09|2023-11-26 23:16:43|  Ancash/Peru|
|       4|2023-11-27 16:00:00|2023-11-27 10:48:26|2023-11-27 23:11:04|Amazonas/Peru|
|       5|2023-11-27 16:00:00|2023-11-27 10:40:19|2023-11-27 23:17:11|  Ancash/Peru|
|       6|2023-11-28 16:00:00|2023-11-28 10:40:31|2023-11-28 23:17:40|  Ancash/Peru|
|       7|2023-11-28 17:00:00|2023-11-28 10:48:42|2023-11-28 23:11:29|Amazonas/Peru|
|       8|2023-11-29 16:00:00|2023-11-29 10:40:43|2023-11-29 23:18:09|  Ancash/Peru|
|       9|2023-11-29 17:00:00|2023-11-29 10:48:58|2023-11-29 23:11:54|Amazonas/Peru|
|      10|2023-11-30 16:00:00|2023-11-30 10:40:57|2023-11-30 23:18:38|  Ancash/Peru|
|      11|2023-11-30 17:00:00|2023-11-30 10:49:15|2023-11-30 23:12:20|Amazonas/Peru|
|      12|2023-12-01 17:00:00|2023-12-01 10:49:33|2023-12-01 23:12:46|Amazonas/Peru|
|      13|2023-12-01 17:00:00|2023-12-01 10:41:11|2023-12-01 23:19:08|  Ancash/Peru|
|      14|2023-12-02 17:00:00|2023-12-02 10:49:51|2023-12-02 23:13:12|Amazonas/Peru|
|      15|2023-12-02 17:00:00|2023-12-02 10:41:26|2023-12-02 23:19:38|  Ancash/Peru|
+--------+-------------------+-------------------+-------------------+-------------+

In [ ]:
lugares = [
    {"nombre": "Amazonas/Peru", "lat": -4.999999999682269, "lon": -78},
    {"nombre": "Ancash/Peru", "lat": -9.499999999871093, "lon": -77.75},
    # Agrega más lugares si es necesario
]

In [ ]:
from pyspark.sql.functions import row_number, lit, when
from pyspark.sql.window import Window
from pyspark.sql.types import IntegerType, StringType, StructType, StructField, DoubleType


# Definir el esquema para la DimUbicacion
schema_dim_ubicacion = StructType([
    StructField("idUbicacion", IntegerType(), False),  # Clave primaria
    StructField("region", StringType(), True),
    StructField("country", StringType(), True),
    StructField("nombre_lugar", StringType(), True),
    StructField("lat", DoubleType(), True),
    StructField("lon", DoubleType(), True),
])

# Obtener datos de ubicación únicos
data_dim_ubicacion = consolidated_df.select("region", "country", "nombre_lugar").distinct()

# Asignar identificadores únicos a través de row_number y Window
window = Window.orderBy("region", "country", "nombre_lugar")
data_dim_ubicacion = data_dim_ubicacion.withColumn("idUbicacion", row_number().over(window))

# Crear DataFrame para la DimUbicacion
df_dim_ubicacion = data_dim_ubicacion.select("idUbicacion", "region", "country", "nombre_lugar")

# Agregar las columnas lat y lon con los datos del array lugares
df_dim_ubicacion = df_dim_ubicacion.withColumn("lat", lit(None).cast(DoubleType()))
df_dim_ubicacion = df_dim_ubicacion.withColumn("lon", lit(None).cast(DoubleType()))

# Actualizar las columnas lat y lon con los valores del array lugares
for lugar_info in lugares:
    condition = (df_dim_ubicacion["nombre_lugar"] == lugar_info["nombre"])
    df_dim_ubicacion = df_dim_ubicacion.withColumn("lat", when(condition, lugar_info["lat"]).otherwise(df_dim_ubicacion["lat"]))
    df_dim_ubicacion = df_dim_ubicacion.withColumn("lon", when(condition, lugar_info["lon"]).otherwise(df_dim_ubicacion["lon"]))

# Mostrar el esquema y los primeros registros del DataFrame DimUbicacion
print("DimUbicacion:")
df_dim_ubicacion.printSchema()
df_dim_ubicacion.show()

DimUbicacion:
root
 |-- idUbicacion: integer (nullable = false)
 |-- region: string (nullable = false)
 |-- country: string (nullable = false)
 |-- nombre_lugar: string (nullable = false)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)

+-----------+--------+-------+-------------+------------------+------+
|idUbicacion|  region|country| nombre_lugar|               lat|   lon|
+-----------+--------+-------+-------------+------------------+------+
|          1|Amazonas|   Peru|Amazonas/Peru|-4.999999999682269| -78.0|
|          2|  Ancash|   Peru|  Ancash/Peru|-9.499999999871093|-77.75|
+-----------+--------+-------+-------------+------------------+------+

In [ ]:
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

# Definir el esquema para la DimClima
schema_dim_clima = StructType([
    StructField("idClima", IntegerType(), False),  # Clave primaria
    StructField("summary", StringType(), True),

])

# Obtener datos de clima únicos
data_dim_clima = consolidated_df.select("summary")

# Asignar identificadores únicos a través de row_number y Window
window = Window.orderBy("summary")
data_dim_clima = data_dim_clima.withColumn("idClima", row_number().over(window))

# Crear DataFrame para la DimClima
df_dim_clima = data_dim_clima.select("idClima", "summary")

# Mostrar el esquema y los primeros registros del DataFrame DimClima
print("DimClima:")
df_dim_clima.printSchema()
df_dim_clima.show()

DimClima:
root
 |-- idClima: integer (nullable = false)
 |-- summary: string (nullable = true)

+-------+--------------------+
|idClima|             summary|
+-------+--------------------+
|      1|Expect a day of p...|
|      2|Expect a day of p...|
|      3|Expect a day of p...|
|      4|Expect a day of p...|
|      5|Expect a day of p...|
|      6|Expect a day of p...|
|      7|Expect a day of p...|
|      8|Expect a day of p...|
|      9|Expect a day of p...|
|     10|Expect a day of p...|
|     11|Expect a day of p...|
|     12|The day will star...|
|     13|There will be rai...|
|     14|There will be rai...|
|     15|You can expect pa...|
|     16|You can expect ra...|
+-------+--------------------+

In [ ]:
from pyspark.sql.functions import row_number, col
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType

# Renombrar las columnas
consolidated_df = consolidated_df.withColumnRenamed("temp.day", "temp_day")\
                                 .withColumnRenamed("temp.min", "temp_min")\
                                 .withColumnRenamed("temp.max", "temp_max")\
                                 .withColumnRenamed("temp.night", "temp_night")\
                                 .withColumnRenamed("temp.eve", "temp_eve")\
                                 .withColumnRenamed("temp.morn", "temp_morn")

# Definir el esquema para la DimTemperatura
schema_dim_Temperatura = StructType([
    StructField("idTemperatura", IntegerType(), False),  # Clave primaria
    StructField("temp_day", DoubleType(), True),
    StructField("temp_min", DoubleType(), True),
    StructField("temp_max", DoubleType(), True),
    StructField("temp_night", DoubleType(), True),
    StructField("temp_eve", DoubleType(), True),
    StructField("temp_morn", DoubleType(), True),
])

# Obtener datos de temperatura únicos
data_dim_Temperatura = consolidated_df.select(
    col("temp_day"),
    col("temp_min"),
    col("temp_max"),
    col("temp_night"),
    col("temp_eve"),
    col("temp_morn")
).distinct()

# Asignar identificadores únicos a través de row_number y Window
window = Window.orderBy("temp_day", "temp_min", "temp_max", "temp_night", "temp_eve", "temp_morn")
data_dim_Temperatura = data_dim_Temperatura.withColumn("idTemperatura", row_number().over(window))

# Crear DataFrame para la DimTemperatura
df_dim_Temperatura = data_dim_Temperatura.select(
    "idTemperatura", "temp_day", "temp_min", "temp_max", "temp_night", "temp_eve", "temp_morn"
)

# Mostrar el esquema y los primeros registros del DataFrame DimTemperatura
print("DimTemperatura:")
df_dim_Temperatura.printSchema()
df_dim_Temperatura.show()

DimTemperatura:
root
 |-- idTemperatura: integer (nullable = false)
 |-- temp_day: double (nullable = true)
 |-- temp_min: double (nullable = true)
 |-- temp_max: double (nullable = true)
 |-- temp_night: double (nullable = true)
 |-- temp_eve: double (nullable = true)
 |-- temp_morn: double (nullable = true)

+-------------+--------+--------+--------+----------+--------+---------+
|idTemperatura|temp_day|temp_min|temp_max|temp_night|temp_eve|temp_morn|
+-------------+--------+--------+--------+----------+--------+---------+
|            1|  284.35|  281.63|  285.13|    281.63|  282.36|   282.55|
|            2|  284.74|  281.55|  284.83|    282.29|  282.88|   282.09|
|            3|  285.42|  281.53|  285.42|    281.53|  282.56|   281.94|
|            4|  285.68|  281.97|  285.73|    282.78|  282.76|   281.97|
|            5|  286.22|  282.41|  286.22|    282.45|   283.5|   282.41|
|            6|  286.54|  281.93|  286.54|    283.07|  283.44|   282.35|
|            7|  287.03|  282.42|  287.03|    283.56|  283.93|   282.42|
|            8|  287.59|  281.58|  287.59|    282.56|  282.88|   281.58|
|            9|  295.49|  294.37|  297.37|    294.37|  297.37|   294.88|
|           10|  297.08|  294.18|  302.92|    294.58|  301.95|   294.18|
|           11|  297.31|  294.65|  300.37|    294.99|  296.17|   295.46|
|           12|  297.67|   294.4|  300.55|    295.24|  299.85|   294.48|
|           13|  302.58|  295.12|  304.06|    295.94|  299.45|   295.15|
|           14|   302.7|  293.96|  303.21|    294.79|  295.74|   295.67|
|           15|  304.87|  294.59|  304.87|    294.78|  296.24|   295.46|
|           16|  306.22|  294.62|  306.22|     295.3|  296.39|   295.83|
+-------------+--------+--------+--------+----------+--------+---------+

In [ ]:
from pyspark.sql.functions import row_number, col
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType

# Renombrar las columnas si es necesario
# consolidated_df = consolidated_df.withColumnRenamed(...)

# Definir el esquema para la DimLuna
schema_dim_Luna = StructType([
    StructField("idLuna", IntegerType(), False),  # Clave primaria
    StructField("moonrise", TimestampType(), True),
    StructField("moonset", TimestampType(), True),
    StructField("moon_phase", DoubleType(), True),
])

# Obtener datos de la Luna únicos
data_dim_Luna = consolidated_df.select(
    col("moonrise"),
    col("moonset"),
    col("moon_phase")
).distinct()

# Asignar identificadores únicos a través de row_number y Window
window = Window.orderBy("moonrise", "moonset", "moon_phase")
data_dim_Luna = data_dim_Luna.withColumn("idLuna", row_number().over(window))

# Crear DataFrame para la DimLuna
df_dim_Luna = data_dim_Luna.select(
    "idLuna", "moonrise", "moonset", "moon_phase"
)

# Mostrar el esquema y los primeros registros del DataFrame DimLuna
print("DimLuna:")
df_dim_Luna.printSchema()
df_dim_Luna.show()

DimLuna:
root
 |-- idLuna: integer (nullable = false)
 |-- moonrise: long (nullable = true)
 |-- moonset: long (nullable = true)
 |-- moon_phase: double (nullable = true)

+------+----------+----------+----------+
|idLuna|  moonrise|   moonset|moon_phase|
+------+----------+----------+----------+
|     1|1700859240|1700814060|      0.41|
|     2|1700859420|1700813820|      0.41|
|     3|1700948820|1700903280|      0.44|
|     4|1700949120|1700902920|      0.44|
|     5|1701038580|1700992680|      0.48|
|     6|1701039000|1700992200|      0.48|
|     7|1701128340|1701082260|       0.5|
|     8|1701128880|1701081660|       0.5|
|     9|1701218280|1701171960|      0.55|
|    10|1701218820|1701171300|      0.55|
|    11|1701307980|1701261720|      0.58|
|    12|1701308580|1701261060|      0.58|
|    13|1701397620|1701351480|      0.61|
|    14|1701398160|1701350820|      0.61|
|    15|1701486960|1701441120|      0.64|
|    16|1701487380|1701440520|      0.64|
+------+----------+----------+----------+

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id

# Unir df_dim_tiempo con consolidated_df y eliminar duplicados basados en columnas que no son de tipo MAP
fact_table_temp = consolidated_df.join(df_dim_tiempo, "dt", 'inner').select(consolidated_df["*"], df_dim_tiempo["idTiempo"]).dropDuplicates([c for c in consolidated_df.columns if c != 'weather'])

# Unir df_dim_ubicacion con fact_table_temp y eliminar duplicados
fact_table = fact_table_temp.join(df_dim_ubicacion, ["region", "country"], 'inner').select(fact_table_temp["*"], df_dim_ubicacion["idUbicacion"]).dropDuplicates([c for c in consolidated_df.columns if c != 'weather'])

# Unir df_dim_clima con fact_table_temp
fact_table = fact_table.join(df_dim_clima, "summary", 'inner').select(fact_table["*"], df_dim_clima["idClima"]).dropDuplicates([c for c in consolidated_df.columns if c != 'weather'])

# Unir df_dim_Temperatura con fact_table utilizando las columnas de temperatura
fact_table = fact_table.join(df_dim_Temperatura, ["temp_day", "temp_min", "temp_max", "temp_night", "temp_eve", "temp_morn"], 'inner').select(fact_table["*"], df_dim_Temperatura["idTemperatura"])

# Unir df_dim_Luna con fact_table utilizando las columnas relacionadas con la Luna
fact_table = fact_table.join(df_dim_Luna, ["moonrise", "moonset", "moon_phase"], 'inner').select(fact_table["*"], df_dim_Luna["idLuna"])


# Seleccionar solo las columnas de ID para crear la tabla de hechos
fact_table = fact_table.select('idTiempo', 'idUbicacion', 'idTemperatura', 'idLuna','idClima' )
# Agregar una columna 'id' a fact_table
fact_table = fact_table.withColumn('id', monotonically_increasing_id())

# Mover la columna 'id' al principio del DataFrame
columns = ['id'] + [col for col in fact_table.columns if col != 'id']
fact_table = fact_table.select(columns)

print("FactTable:")
fact_table.printSchema()
fact_table.show()

FactTable:
root
 |-- id: long (nullable = false)
 |-- idTiempo: long (nullable = false)
 |-- idUbicacion: integer (nullable = false)
 |-- idTemperatura: integer (nullable = false)
 |-- idLuna: integer (nullable = false)
 |-- idClima: integer (nullable = false)

+---+--------+-----------+-------------+------+-------+
| id|idTiempo|idUbicacion|idTemperatura|idLuna|idClima|
+---+--------+-----------+-------------+------+-------+
|  0|       3|          1|           10|     3|     11|
|  1|       5|          1|           12|     5|     14|
|  2|       7|          1|            9|     7|     16|
|  3|       1|          1|           13|     1|     11|
|  4|      11|          1|           16|    11|     15|
|  5|       9|          1|           15|     9|     11|
|  6|      15|          1|           11|    15|     11|
|  7|      13|          1|           14|    13|     11|
|  8|       3|          2|            8|     4|     11|
|  9|       5|          2|            3|     6|     12|
| 10|       7|          2|            2|     8|     11|
| 11|       1|          2|            4|     2|     11|
| 12|      12|          2|            5|    14|     11|
| 13|      10|          2|            7|    12|     11|
| 14|       8|          2|            6|    10|     14|
| 15|      15|          2|            1|    16|     11|
+---+--------+-----------+-------------+------+-------+

In [ ]:
openweatherHive = SparkSession.builder.appName("DIMENSIONES-HIVE").enableHiveSupport().getOrCreate()

In [ ]:
openweatherHive.sql("SHOW DATABASES").show()
openweatherHive.sql("CREATE DATABASE IF NOT EXISTS dimensiones")

+---------+
|namespace|
+---------+
|  default|
+---------+

DataFrame[]

In [ ]:
df_dim_tiempo.write.saveAsTable("dimensiones.df_dim_tiempo")
df_dim_ubicacion.write.saveAsTable("dimensiones.df_dim_ubicacion")
df_dim_clima.write.saveAsTable("dimensiones.df_dim_clima")
df_dim_Temperatura.write.saveAsTable("dimensiones.df_dim_Temperatura")
df_dim_Luna.write.saveAsTable("dimensiones.df_dim_Luna")

In [ ]:
df_dim_tiempo.show()

+--------+-------------------+----------+----------+-------------+
|idTiempo|                 dt|   sunrise|    sunset| nombre_lugar|
+--------+-------------------+----------+----------+-------------+
|       0|2023-11-24 16:00:00|1700822865|1700867393|Amazonas/Peru|
|       1|2023-11-24 16:00:00|1700822391|1700867748|  Ancash/Peru|
|       2|2023-11-25 16:00:00|1700909278|1700953817|Amazonas/Peru|
|       3|2023-11-25 16:00:00|1700908799|1700954175|  Ancash/Peru|
|       4|2023-11-26 16:00:00|1700995692|1701040240|Amazonas/Peru|
|       5|2023-11-26 16:00:00|1700995209|1701040603|  Ancash/Peru|
|       6|2023-11-27 16:00:00|1701082106|1701126664|Amazonas/Peru|
|       7|2023-11-27 16:00:00|1701081619|1701127031|  Ancash/Peru|
|       8|2023-11-28 16:00:00|1701168031|1701213460|  Ancash/Peru|
|       9|2023-11-28 17:00:00|1701168522|1701213089|Amazonas/Peru|
|      10|2023-11-29 16:00:00|1701254443|1701299889|  Ancash/Peru|
|      11|2023-11-29 17:00:00|1701254938|1701299514|Amazonas/Peru|
|      12|2023-11-30 16:00:00|1701340857|1701386318|  Ancash/Peru|
|      13|2023-11-30 17:00:00|1701341355|1701385940|Amazonas/Peru|
|      14|2023-12-01 17:00:00|1701427773|1701472366|Amazonas/Peru|
|      15|2023-12-01 17:00:00|1701427271|1701472748|  Ancash/Peru|
+--------+-------------------+----------+----------+-------------+

In [ ]:
#Si se usa colab, ejecutar esta celda
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
df_dim_tiempo.write.csv('/cont ent/drive/MyDrive/BigData/Tab las/df_dim_tiempo.csv',header=True,mode='overwrite')
df_dim_ubicacion.write.csv('/content/drive/MyDrive/BigData/Tablas/df_dim_ubicacion.csv', header=True, mode='overwrite')
df_dim_clima.write.csv('/content/drive/MyDrive/BigData/Tablas/df_dim_clima.csv', header=True, mode='overwrite')
df_dim_Temperatura.write.csv('/content/drive/MyDrive/BigData/Tablas/df_dim_Temperatura.csv', header=True, mode='overwrite')
df_dim_Luna.write.csv('/content/drive/MyDrive/BigData/Tablas/df_dim_Luna.csv', header=True, mode='overwrite')
fact_table.write.csv('/content/drive/MyDrive/BigData/Tablas/fact_table.csv', header=True, mode='overwrite')